*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif ;
}



a{
    color: #2d2d2d;
    text-decoration: none;
    transition: 0.3s;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif ;
    height: 8vh;

}

.button{

    width: 35px;
    height: 25px;
    margin-top: 19px;
    margin-left: -20%;
    background-color: white;
    border: none;
}


.pesquisar{

  display: flex;
  justify-content: space-between;
 
  
  /*margin-right:45% ; */
  
  
} 
  
#indexpesquisar{
  width: 355px;
  height: 35px;
  border: 1.5px solid;
  border-radius: 15px;
  border-color: #a0a0a0;
  margin-top: 2%;
}

.navlist li {
  display: flex;
  display: inline-block;
  margin-top: 7.2%;
  margin-right: 10px;
  /*margin-left: 55%;*/
  
}

.Container{

    margin-top: 5;
}

.mensagem{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
    
.boas-vindas{
  text-align: center;
  width: 300px;
  height: 300px;
}
