*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif ;
}


a{
    color: #2d2d2d;
    text-decoration: none;
    transition: 0.3s;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif ;
    font-size: 20px;
    height: 8vh;
   

}

.navlist li {
  display: flex;
  display: inline-block;
  margin-top: 7.2%;
  margin-right: 10px;
  /*margin-left: 55%;*/
  
}

.Container{
  display: flex;
  justify-content: center;
  align-items: center;

}
img{
  width: 50%;
  margin-right: 50px;
}
.mensagem{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
    
