.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

.table tr{
    color: #2d2d2d ;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #048caa;
    color: white;
  }

.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;

}

.table tr tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd; color: #000}

.button-editar{
    background-color: green;
    color: white;
}